// -- Variables comment list
$_colorDefault			: $colorText;
$_linkDecoration		: none;
$_commentmoderation		: #009900;

// -- Variables comment form
$_colorRequired	 		: #D80F0F;


// -- .comments-area {}
.comments-title, .comment-reply-title {
	font-size: 30px;
	line-height: 110%;
	margin-bottom: 20px;

	a {
		float: right;
		font-size: 17px;
		color: $_colorDefault;
		text-decoration: $_linkDecoration;
	}

}
.required {
	color: $_colorRequired;
}

.comment-list {
	margin-bottom: 30px;
	display: inline-block;

	li {
		margin-bottom: 30px;
	}

	a {
		color: $_colorDefault;
		text-decoration: $_linkDecoration;
	}

	.children {
		margin: 30px 0 0 50px;
	}

	.comment-meta {

		.avatar {
			float: left;
			margin-right: 20px;
		}
		.fn { 
			font-size: 18px;
			font-weight: bold; 
			margin: 8px 0 4px 0;
			display: inline-block;
		}

		.says { display: none; }
		.comment-awaiting-moderation { 
			color: $_commentmoderation;
			margin: 5px 5px -8px 5px; 
		}

	}

	.comment-content {
		clear: both;
		line-height: 130%;
		margin: 20px 0 15px 0;

		a { text-decoration: $_linkDecoration; }
	}

	.reply {
		a {
			width: auto;
			padding: 3px 9px;
			line-height: 120%;
			text-decoration: $_linkDecoration;
			display: inline-block;
			@extend %elementsForm;
		}
	}

}

.comment-form {

	label {
		display: block;
		margin-bottom: 6px;
	}

	p {
		margin-bottom: 10px;
		line-height: 130%;
	}

	.submit {
		padding: 3px 9px;
	}

}
